

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  color: #222222;
}


a {
  color: #222222;
}

button {
  background-color: #222222;
  color: #eeeeee;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 0.5rem;
  word-break: initial;
}

button:hover {
  background-color: #eeeeee;
  color: #222222;
  transition-timing-function: ease-in-out;
  transition: 300ms;
}

/* Skilgreini líka transition function og tíma hér.
   Þarf ekki endilega að vera að notandi hover yfir
   takka þegar hann klikkar á hann, getur gert með
   lyklaborði líka*/
button:active {
  background-color: #222222;
  color: #eeeeee;
  transition-timing-function: ease-in-out;
  transition: 300ms;
}

h1, h2, h3, h4 {
  font-family: 'Montaga', Georgia, serif;
}

header {
  margin-bottom: 2rem;

  width: 100%;
  height: 100vh;
  display: flex;

  background-image: url(img/background.jpg);
  background-size: cover;
  background-attachment: fixed;
}

header .content {
  margin: auto;
  text-align: center;
  color: #eeeeee;
}

header h1 {
  font-size: 6vmax;
}

header h2 {
  font-size: 3vmax;
}

main {
  max-width: 1400px;
  margin:auto;
}

/* Aðal grid skilgreint*/
.grid {
  display: grid;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  grid-template-columns: repeat(12,1fr);
  column-gap: 10px;
  grid-row-gap: 10px;
  overflow: hidden;
}

/* Fjöldi dálka sem element eiga að fylla í +800px*/
.grid-3 {
  grid-column: auto / span 3;
}


.grid-4 {
  grid-column: auto / span 4;
}

/* medium—upp að 800px */
@media (max-width: 800px) {
/* Endurskilgreinir padding og grid til að fá rétt bil til hliða */
.grid {
  display: grid;
  width: 100%;
  padding-left: calc(10px + (100%-20px)/12);
  padding-right: calc(10px + (100%-20px)/12);
  grid-template-columns: repeat(10,1fr);
  }

.grid-5 {
    grid-column: auto / span 5;
  }


.grid-10-event {
    grid-column: auto / span 10;
  }
}

/* small—upp að 500px */
@media (max-width: 500px) {
.grid {
  display: grid;
  width: 100%;
  padding-left: calc(10px + (100%-20px)/12);
  padding-right: calc(10px + (100%-20px)/12);
  grid-template-columns: repeat(10,1fr);
  }

.grid-10-book {
	grid-column: auto / span 10;
  }

.grid-10-book {
    grid-column: auto / span 10;
  }
}

/* events */

.events h2 {
  margin-bottom: 1rem;
  grid-column:1 / -1;
}

.events {
  margin-bottom: 2rem;
  word-break: break-word;
  display: grid;
}

.event {
  padding: 0.5rem;
  background-color: #cccccc;
  grid-template-columns: 1;
  display:grid;
}

.event h3 {
  margin-bottom: 1rem;
}


.event p {
  margin-bottom: 1rem;
  font-style: italic;
}

.event ul {
  list-style: none;
  font-style: italic;
}

.event .event-text{
  grid-area: 1 / 1;
  margin-bottom: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  opacity: 0;
  transform: scaleX(-1);
}

.event .overlay {
  font-size: 2rem;
  margin:auto;
  grid-area: 1 / 1;
}

.event:hover .overlay{
  transition-timing-function: ease-in-out;
  transition: 300ms;
  opacity:0;
  transform: scaleX(-1);
}

.event:hover .event-text {
  transition-timing-function: ease-in-out;
  transition: 300ms;
  opacity: 1;
  transform: scaleX(1);
}

/* books */

.books h2 {
  margin-bottom: 1rem;
  grid-column:1 / -1;
}

.books {
  margin-bottom: 2rem;
  word-break: break-word;
  display: grid;
}


.book {
  display: flex;
  flex-direction: column;

  background-color: #cccccc;
}


.book > .content {
  padding: 0.5rem;
  border: 1px solid #999999;
  border-top: 0;

  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.book .image {
  height: 200px;
  overflow:hidden;
}


.book .image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.book .image:hover img{
  transition-timing-function: ease-in-out;
  transition: 300ms;
  transform: scale(1.3);
}

.book h3 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.book h4 {
  margin-bottom: 1rem;
  font-size: 0.875rem;
  font-weight: normal;
  text-transform: uppercase;
}

.book .buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book .buy .price {
  margin-right: 0.5rem;
}
